<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title> Html Testing </title>
	</head>
	<style type="text/css">

	div.cities
	{
		background-color:black;
		color:white;
		margin:5px;
		padding:1px;
	}
	</style>

<body style= "background-color:lightgrey">
	<a href= "https://github.com/sergeche/emmet-sublime#tab-key-handler" target="_blank">
</a>
<h1> My <ins>first</ins> heading </h1>
<h2>My <del>first</del> heading</h2>
<h3>My <mark>first</mark> heading </h3>
<h4> My <small>first </small> heading </h4>
<h5> My <sup>first heading</sup> </h5>
<h6> My <sub><sub>first</sub></sub> <sub>heading</sub> </h6>
		<p title = "sample paragraph"> My first paragraph </p>
<pre style = "font-family:comic sans ms" >
<b>Bold is a style </b>

<strong>Strong is semantic for emphasis, works in many domains </strong>
<p style = "color:red; font-size: 150%; text-align:center">Test 3 </p>


<h1 style = "color:blue">Test 4 </h1>
</pre>

<pre style = "font-size: 15px">
<i> Shit's in italic </i>
<em> Not italic, just emphasis </em>

<div>
	<p> Quoting n shit
	<q> Testing quotes </q>
	<blockquote style = "color: #AB00CD" cite="http://www.worldwildlife.org/who/index.html">
	There are currently 10 states in the United States with container deposit legislation, 
	popularly called "bottle bills" after the Oregon Bottle Bill, the first such legislation
	that was passed.[1] Efforts to pass container deposit legislation in states that do not 
	have them are often politically contentious. The U.S. beverage container industry—including 
	both the bottlers of water, soda, beer, and the owners of grocery stores, and convenience stores—often 
	spends large amounts of money in the United States lobbying against the introduction of both new and amended 
	beverage container deposit legislation
	</blockquote>
	</p>
	</div>
	</pre>
	</body>


<!-- <div class="cities">
	<h2>
		London
	</h2>
	<p>
		London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
	</p>

</div>

<div>
	<iframe width="350px" height="200px" src="http://knowyourmeme.com/memes/dank-memes"></iframe>
</div>

Addresses

<address> Dank Boii
Swag Avenue
...
Italic
</address>

<bdo dir= "rtl"> 2sp00ky5me </bdo>
</p>

<a href="http://google.ca">Link</a>
<hr>
<img src = "http://vignette1.wikia.nocookie.net/might-guy/images/7/74/Swag_(1).jpg/revision/latest?cb=20140511175315" title = "Test" width = "400" height = "200">
	</body> -->
<!-- <iframe width=420" height="300" src="https://www.youtube.com/embed/b4JZ8TEgnUs?start=15&autoplay=1&loop=1&playlist=VIDEO_ID" frameborder="0" allowfullscreen></iframe> -->
</html>

