<!DOCTYPE html>
<html lang="en-US">

<html lang="en">
    <head>
        <meta charset="utf-8">

        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
  </html>

  <body>
    <h1 class="display-1">Baseball Gambler</h1>
    <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" id="name">
    </div>

    <button type="button" class="btn btn-primary btn-lg" onclick="addPlayer()">Add Bidder</button>
    <button type="button" class="btn btn-primary btn-lg" onclick="confirmPlayers()">Confirm Bidders</button>
    
    <!-- AJAX Setup -->
<script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function sameOrigin(url) {
           // test that a given url is a same-origin URL
           // url could be relative or scheme relative or absolute
           var host = document.location.host; // host + port
           var protocol = document.location.protocol;
           var sr_origin = '//' + host;
           var origin = protocol + sr_origin;
           // Allow absolute or scheme relative URLs to same origin
           return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
           (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
           // or any other URL that isn't scheme relative or absolute i.e relative.
           !(/^(\/\/|http:|https:).*/.test(url));
        }
        var csrftoken = getCookie('csrftoken')
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        </script>

    <script>
        var players = [];

        function nameAlreadyExists(name) {
            for(i in players) {
                if(players[i] == name) {
                    return false;
                }
            }
            return true;
        }

        function removePlayerFromList(name) {
            var index = players.indexOf(name);
            if(index > -1) {
                players.splice(index, 1);
            }
        }


        function addPlayer() {
            var nameField = document.getElementById("name");
            var name = nameField.value;
            if(nameAlreadyExists(name) && name != "") {
                players.push(name);
                createPlayerBox(name);
                nameField.value = "";
            }
        }

        function confirmPlayers() {
            if(players.length > 1) {
                $.post('confirm_players', JSON.stringify({"players" : players}), function(data){
                    window.location.replace("/");
                });
            }
        }

        function createPlayerBox(name) {
            var card = document.createElement("div");
            card.className = "panel panel-default"
            var cardBlock = document.createElement("div");
            var label = document.createElement("label");
            label.innerHTML = name;
            var xButton = document.createElement("input");
            xButton.type = "button";
            xButton.value = "X";
            xButton.onclick = function() {
                document.body.removeChild(card);
                removePlayerFromList(name);
            }
            cardBlock.appendChild(xButton);
            cardBlock.appendChild(label);
            cardBlock.className = "panel-body";
            card.appendChild(cardBlock);
            document.body.appendChild(card);
        }

    </script>
  </body>



</html>